
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>API | AxonTime</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  
  <body>
  
    <div style=" display: block " >

      <h2>
        API - Axon Time
      </h2>

    </div>

    <hr/>

    <p>
      404 No found
    </p>
  
    <style type="text/css">

      body {
        background-color: #303030
      }

      h2 {
        color:floralwhite;
      }

      p {
        color:floralwhite;
      }

      h2{
        color:deeppink;
      }

    </style>

  </body>

  </html>