<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>API | AxonTime</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  
  <body>

    <h2>
      Bienvenido al API de AxonTime
    </h2>
    
    <p id="relog"></p>
  
    <script>
      const new_date = new Date()
      document.getElementById("relog").innerText = new_date.toTimeString()
    </script>

  </body>

  <style>
      body {
        background-color: #303030
      }

      h2 {
        color:floralwhite;
      }

      p {
        color:floralwhite;
      }

      h2{
        color:deeppink;
      }
  </style>

</html>