<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>API | AxonTime</title>
    <link rel="icon" href="/logo_axon_primary.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  
  <body>
  
    <div style="display: inline-flex">

      <h2>
        API - AxonTime
      </h2>

    </div>

    <hr/>
  
    <h3>
      Bienvenido
    </h3> 
  
    <h3>
      Versión: <span> <%= version %> </span> 
    </h3>
  
    <h3>
      Hora del servidor: <span> <%=  server_date %> </span> 
    </h3>
  
    <style type="text/css">

      body {
        background-color: #303030
      }

      h2 {
        color:floralwhite;
      }

      h3 {
        color:floralwhite;
      }

      span {
        color:deeppink;
      }

    </style>

  </body>
  
  </html>